:root {
  --light-bg-color: #e6e6bd;
  --light-font-color: #44454e;
  --light-link-color: #963d3d;
  --light-linkbg-color: #c9ced6;

  --dark-bg-color: #000000;
  --dark-title-color: #2da52d;
  --dark-font-color: #b9c9b7;
  --dark-link-color: #3bca47;
  --dark-linkbg-color: #0e2929;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 80%;
  margin: auto;
}

.h-line {
  border: 2px solid var(--light-font-color);
}

.container {
  display: flex;
}

#main-nav {
  padding: 3%;
  font-size: 30px;
}

#main-nav ul {
  padding: 0;
  list-style: none;
  width: 100%;
}

#main-nav li {
  color: var(--light-link-color);
  width: 3.5em;
  padding: 3%;
  border-radius: 5%;
  cursor: pointer;
}

#main-nav li:active {
  background-color: var(--light-linkbg-color);
}

#main-nav a {
    color: inherit;
    text-decoration: none;
}

iframe {
  width: 80%;
  height: 100%;
  border: none;
  overflow: hidden;
}